/* Variables globales */
.headerenc {
  grid-area: he;
  width: 100%;
  background-color: black;
}
.headerenc .encabezado {
  background-color: black;
  display: flex;
  justify-content: space-around;
  height: auto;
}
.headerenc .encabezado .logo {
  height: auto;
  border-radius: 30px;
}
.headerenc .encabezado .h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.headerenc .encabezado .h2 ul {
  padding: 40px;
  font-size: 1rem;
}
.headerenc .encabezado .h3 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

a:hover {
  text-decoration: underline;
  color: rgb(167, 74, 74);
}

.lineafoo {
  height: 1px;
  size: 1.25rem;
  color: aliceblue;
  margin-top: -4px;
}

.md {
  color: rgb(193, 246, 177);
  text-decoration: none;
  font-size: 1.2em;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_responsive-li {
  background-color: #000000;
}

/*main*/
/* index */
.mainindex {
  grid-area: main;
  width: 100%;
  background-color: black;
  /*Menu Delivery*/
}
.mainindex .section-main {
  display: flex;
}
.mainindex .section-main .bannermain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images/Banner\ 2.jpg);
  width: 100%;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainindex .section-main .bannermain .promo {
  padding-left: 15rem;
  font-family: "raleway";
  color: #e45eaf;
  font-size: 2rem;
  text-shadow: 1px 2px rgb(8, 8, 8);
}
.mainindex .seccion3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: black;
  margin-top: 80px;
}
.mainindex .seccion3 .video {
  margin-left: 26px;
  padding-top: 50px;
}
.mainindex .seccion3 .nombre {
  text-decoration: underline;
  color: aliceblue;
  text-decoration-color: rgb(223, 223, 216);
  margin: 28px;
  padding-top: 20px;
}
.mainindex .seccion3 .texto-nobu, .mainindex .seccion3 .seccion5 .seccion5_5 .texto-nobu-1, .mainindex .seccion5 .seccion5_5 .seccion3 .texto-nobu-1 {
  margin: 28px;
  padding-top: 9px;
}
.mainindex .seccion4 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 68px;
  background-color: black;
}
.mainindex .seccion4 .enunciadosreserva {
  font-size: 2.6rem;
  color: aliceblue;
  margin-top: 96px;
  margin-bottom: 92px;
}
.mainindex .seccion4 .submit3 {
  text-align: center;
  border-radius: 11px;
  width: 289px;
  height: 75px;
  background-color: rgb(19, 111, 127);
  border-color: rgb(34, 158, 189);
  margin-top: 95px;
  font-size: 25px;
}
.mainindex .seccion5 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  background-color: black;
  margin-right: 3px;
}
.mainindex .seccion5 .imgsushi1 {
  height: 354px;
  margin-right: 33px;
  margin-top: 95px;
  margin-bottom: -50px;
}
.mainindex .seccion5 .seccion5_5 {
  width: 75%;
  margin: 99px;
  margin-top: 108px;
}
.mainindex .seccion5 .seccion5_5 .en {
  text-decoration: underline;
  color: aliceblue;
  text-decoration-color: rgb(223, 223, 216);
  padding-top: 20px;
  padding-bottom: 18px;
  margin-left: 43px;
}
.mainindex .seccion5 .seccion5_5 .texto-nobu-1 {
  margin-left: -75px;
}
.mainindex .enunciados-menu {
  margin-left: 79px;
  margin-top: 50px;
  font-size: 2.3rem;
  text-decoration: underline;
}
.mainindex .row {
  width: 100%;
  margin-left: -47px;
}
.mainindex .row .col {
  align-items: center;
}
.mainindex .row .col .card {
  margin: 60px 0 0 69px;
  background-color: black;
}
.mainindex .row .col .card .card-text {
  background-color: #000000;
}
.mainindex .row .col .card .card-title {
  font-size: 2.3rem;
  font-family: "Raleway";
  color: aliceblue;
}

/* pedidos */
.pedidos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images/Background\ pedidos.jpg);
  width: 100%;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pedidos .seccion2 {
  margin: auto;
  padding: 86px;
}
.pedidos .seccion2 .enunciadosreserva1 {
  font-size: 2.6rem;
  color: aliceblue;
  margin-right: 708px;
  font-family: "Raleway";
}
.pedidos .seccion2 .submit1 {
  text-align: center;
  border-radius: 11px;
  width: 245px;
  height: 41px;
  background-color: rgb(31, 172, 55);
  border-color: rgb(31, 172, 55);
  margin-left: -264px;
  margin-top: 104px;
}
.pedidos .seccion2 .submit2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  border-radius: 11px;
  width: 245px;
  height: 41px;
  background-color: rgb(91, 8, 8);
  border-color: rgb(104, 66, 66);
  margin-left: -263px;
  margin-top: 31px;
}

/* franquicias */
.quote {
  display: block;
  background-color: #000000;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.quote .uvps {
  font-family: "raleway";
  text-align: center;
}

.nc {
  text-align: center;
  color: aliceblue;
  font-size: 3rem;
  font-family: "Raleway";
  margin-top: 51px;
}

.cuadro_2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.text-franq {
  margin-left: 39px;
  margin-top: 140px;
  padding-right: 31px;
}

.franquicias1 {
  margin-right: 50px;
  margin-top: 69px;
}

.dash-line {
  margin: 50px 0;
  border-top: 1px dashed aliceblue;
}

.misionvision {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 0 0 56px;
}
.misionvision #vision {
  max-width: 35%;
  margin: 0 30px;
  color: aliceblue;
}
.misionvision #mision {
  max-width: 35%;
  margin: 0 30px;
  color: aliceblue;
}
.misionvision .textofranq {
  font-size: 40px;
  font-family: "raleway";
  padding-bottom: 20px;
}

.franquicias2 {
  width: 90%;
  margin-left: 73px;
}

.h5h5 {
  font-family: "Raleway";
  font-size: 20px;
  color: aliceblue;
  padding: 34px;
  text-align: center;
  margin: 25px 150px;
  border-top: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
}

.textofranq1 {
  font-size: 40px;
  font-family: "raleway";
  color: aliceblue;
  text-decoration: underline;
  text-align: left;
  margin: 48px 147px;
}

.us_team {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: aliceblue;
  margin: 0 146px;
  font-family: "Raleway";
}
.us_team .us_team_2 {
  padding: 0;
  margin: 0;
}
.us_team .us_team_2 .strong {
  font-family: "Raleway";
  margin: 9px 3px;
  padding: 0px 12px;
}

.dash-line-1 {
  margin: 50px 0;
  border-top: 1px dashed aliceblue;
}

.dashline {
  border: 0;
  height: 0;
  border-top: 4px double aliceblue;
  text-align: center;
}

.gastronomia {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: aliceblue;
}
.gastronomia .img3 {
  width: 600px;
  margin-left: 100px;
}
.gastronomia .us_team_3 {
  margin-left: 49px;
  font-family: "Raleway";
  font-size: 30px;
  padding: 8px;
}
.gastronomia .textofranq3 {
  margin-left: 56px;
  font-family: "Raleway";
  font-size: 20px;
  padding-right: 67px;
}

.section {
  background-color: #000000;
  padding: 10px;
}
.section .Nusu {
  text-align: center;
  color: aliceblue;
  font-size: 3rem;
  font-family: "Raleway";
}
.section .maps {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
  margin-left: 190px;
  flex-wrap: wrap;
}
.section .maps .sucursales {
  padding: 34px;
}
.section .maps .sucursales h4 {
  font-family: "Raleway";
  font-size: 25px;
}
.section .maps .sucursales .lugares {
  color: aliceblue;
  text-align: center;
}

.horarios {
  font-size: 1.5rem;
  margin-bottom: 25px;
  margin-left: 381px;
}

/*Sushigift - Bootstrap*/
.gridcontainerboot {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  background-color: #000000;
}

.h2-boot {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 19px;
}
.h2-boot .ul-boot-header {
  padding: 40px;
  font-size: 1rem;
}
.h2-boot .h3-boot-img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  height: 140px;
}

.container-fluid {
  background-color: #000000;
}
.container-fluid .p-4 {
  width: 100%;
  margin: auto;
  font-size: 2.3rem;
  color: #c82953;
  text-align: center;
  font-family: "raleway";
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.container-fluid .p-4 .imgboot {
  max-width: 100%;
}
.container-fluid .p-2 {
  font-size: 3.5rem;
  text-align: center;
  color: #c82953;
  font-family: "Raleway";
  font-weight: 700;
}
.container-fluid .form-select {
  font-size: 1rem;
  font-family: "raleway";
  margin: 57px 0 57px 0;
}
.container-fluid .input-group {
  font-size: 1rem;
  font-family: "raleway";
  margin-top: 57px;
}
.container-fluid .p-4-1 {
  width: 100%;
  margin-bottom: 57px;
  margin-top: 57px;
  font-size: 2.3rem;
  text-align: center;
  font-family: "raleway";
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.container-fluid .btn {
  margin-left: 600px;
  margin-top: 50px;
  font-family: "Raleway";
  font-weight: 500;
  align-items: center;
}

/* Contacto */
.contact-section {
  background-color: #000000;
}
.contact-section .contact-div {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.contact-section .contact-div .titulo {
  text-align: center;
  font-size: 3.2rem;
  color: #c8d1d8;
  font-weight: 700;
  background-color: #000000;
  font-family: "Raleway";
  padding-top: 78px;
}
.contact-section .hhh {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin-top: 52px;
  margin-left: 90px;
  margin-right: 151px;
  max-width: 100%;
}
.contact-section .hhh .nobu-mat {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.contact-section .hhh .nobuimg {
  width: 600px;
  vertical-align: middle;
  margin-left: 50px;
  margin-bottom: 50px;
}
.contact-section .formulario1 {
  max-width: 100%;
  margin: 40px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}
.contact-section .formulario1 .form-form2 {
  margin: auto;
  margin-bottom: 50px;
}
.contact-section .formulario1 .form-form2 .botones-contact {
  margin-bottom: 2rem;
}
.contact-section .formulario1 .form-form2 .botones-contact .nombre-contact {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: aliceblue;
  display: inline-block;
  font-family: "Raleway";
}
.contact-section .formulario1 .form-form2 .botones-contact .nombreinput {
  display: block;
  width: 100%;
  padding: 10px;
  padding-right: 17.75rem;
  font-size: 1.3rem;
  color: #0c0808;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contact-section .formulario1 .form-form2 .botones-contact .consultaselec {
  display: block;
  width: 100%;
  padding: 0 2rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1.5rem;
  color: #000000;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contact-section .formulario1 .form-form2 .botones-contact .cajacoment {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #0c0808;
  font-weight: 300;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contact-section .formulario1 .form-form2 .termycond {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  color: aliceblue;
  font-size: small;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-family: "Raleway";
}
.contact-section .formulario1 .form-form2 .termycond .checklabel {
  font-family: "raleway";
}
.contact-section .formulario1 .form-form2 .button {
  text-align: center;
  color: rgba(44, 81, 205, 0.967);
  padding-top: 56px;
}
.contact-section .formulario1 .form-form2 .button .button1 {
  font-family: "Raleway";
  font-size: 1.5rem;
  padding: 0 2rem;
  border-radius: 10px;
  color: rgba(236, 236, 239, 0.967);
  background-color: rgb(46, 36, 202);
}

.titulo_1 {
  text-align: center;
  font-size: 3.2rem;
  color: #c8d1d8;
  font-weight: 700;
  background-color: #000000;
  font-family: "Raleway";
  padding-top: 78px;
}

.list-franq {
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "raleway";
  margin-left: 142px;
  padding: 21px;
}

.text-franq-1 {
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "raleway";
  margin-left: 116px;
  padding-bottom: 16px;
  padding-right: 170px;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

/*footer*/
.footergrid {
  grid-area: footer;
  width: 100%;
  background-color: rgb(26, 16, 18);
}

a {
  text-decoration: none;
  color: aliceblue;
}

.footerrow {
  display: flex;
}
.footerrow .lista1 {
  font-size: 17px;
  margin-right: -40px;
}
.footerrow .items {
  padding-right: 75px;
  font-size: 1.25rem;
  margin: 56px;
}
.footerrow .items .imgsuscribe1 {
  height: 25px;
  align-items: flex-end;
}
.footerrow .items .imgsuscribe2 {
  height: 26px;
  padding-left: 15px;
}
.footerrow .items .footernew {
  padding-top: 10px;
}
.footerrow .items .footernew .imgsuscribe {
  height: 24px;
}

.copy {
  color: aliceblue;
  font-size: 1rem;
  margin-top: -10px;
  margin-bottom: 9px;
  width: 100%;
  padding-left: 550px;
}
.copy .h1foot {
  font-size: 1rem;
  margin-left: -12px;
  margin-top: 19px;
  margin-bottom: 0;
}

hr {
  height: 1px;
  size: 1.25rem;
  color: aliceblue;
  margin-top: -4px;
}

@media (max-width: 992px) {
  .gridcontainer {
    grid-template-areas: "he" "main" "footer";
    justify-content: center;
    width: 100vw;
  }
  .encabezado {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .h2-boot {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .bannermain {
    min-height: 60vh;
    padding-bottom: 3rem;
  }
  .section-main {
    display: flex;
    max-width: 100%;
  }
  .video {
    margin-right: 179px;
  }
  .footerrow {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .h2 {
    flex-direction: column;
    margin-left: -68px;
  }
  .h3 {
    flex-direction: column;
    margin-left: -68px;
  }
  .hhh {
    flex-wrap: wrap;
  }
  .text-franq {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .footerdiv {
    align-items: center;
  }
  .seccion2 {
    margin-right: 50px;
  }
  .inputmsj {
    margin-left: -215px;
  }
  .submit1 {
    margin-left: 50px;
  }
  .seccion3 {
    flex-wrap: wrap;
    margin-bottom: -259px;
  }
  .nombre {
    padding-left: 94px;
  }
  .submit3 {
    flex-wrap: wrap;
  }
  .seccion5 {
    flex-wrap: wrap;
    margin-right: 108px;
  }
  .imgsushi1 {
    max-width: 100%;
    width: 690px;
    padding-right: 73px;
  }
  .seccion4 {
    flex-wrap: wrap;
    margin-left: 24px;
    margin-top: 77px;
  }
  .seccion4-a {
    margin-top: -78px;
  }
  a {
    padding-left: 79px;
  }
  .texto-nobu, .mainindex .seccion5 .seccion5_5 .texto-nobu-1 {
    padding: 96px;
  }
  .cuadro_2 {
    margin-top: -47px;
    margin-bottom: -332px;
    flex-wrap: wrap;
  }
  .enunciadosreserva {
    margin-right: 80px;
  }
  .seccion5_5 {
    padding-left: 57px;
  }
  .items {
    margin: 47px;
  }
  .copy {
    margin-left: -341px;
  }
  .h1foot {
    text-align: center;
  }
  .horarios {
    margin-left: 106px;
  }
  .uvps {
    padding-top: 60px;
  }
  .dash-line {
    margin-top: 396px;
  }
  .franquicias1 {
    margin-left: 40px;
  }
  .misionvision {
    margin-right: 14px;
  }
  .franquicias2 {
    margin-left: 80px;
  }
  .img3 {
    margin-left: 117px;
  }
  .gastronomia {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
  }
  .maps {
    margin-left: 212px;
  }
  .Nusu {
    margin-right: 31px;
  }
  .dash-line-1 {
    margin-top: 54px;
  }
  .card-body {
    height: 170px;
  }
  .dash-line {
    margin-top: 385px;
  }
  hr {
    width: 895px;
  }
  .card-title {
    font-size: small;
  }
}
@media (min-width: 600px) and (max-width: 780px) {
  .gridcontainer {
    grid-template-areas: "he" "main" "footer";
    justify-content: center;
    width: 100vw;
  }
  .encabezado {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .h2-boot {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .bannermain {
    min-height: 60vh;
    padding-bottom: 3rem;
  }
  .footerrow {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 156px;
  }
  .h2 {
    flex-direction: column;
    margin-left: -68px;
  }
  .h3 {
    flex-direction: column;
    margin-left: -68px;
  }
  .nobuimg {
    width: min-content;
  }
  .hhh {
    flex-wrap: wrap;
  }
  .us_team_3 {
    margin-top: 50px;
  }
  .img3 {
    margin-left: 98px;
  }
  .promo {
    padding: 328px;
  }
  .text-franq {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .footerdiv {
    align-items: center;
  }
  .seccion2 {
    margin-right: 50px;
  }
  .inputmsj {
    margin-left: -215px;
  }
  .submit1 {
    margin-left: 50px;
  }
  .seccion3 {
    flex-wrap: wrap;
    margin-bottom: -259px;
  }
  .nombre {
    padding-left: 141px;
  }
  .video {
    width: 100vw;
    margin-right: -147px;
  }
  .texto-nobu, .mainindex .seccion5 .seccion5_5 .texto-nobu-1 {
    padding: 136px;
  }
  .submit3 {
    flex-wrap: wrap;
  }
  .seccion4 {
    margin-left: 128px;
  }
  .seccion5 {
    flex-wrap: wrap;
    margin-right: 102px;
  }
  .en {
    padding: 82px;
  }
  .imgsushi1 {
    width: 100vw;
    margin-left: 201px;
  }
  .seccion4-a {
    margin-top: -87px;
    margin-left: 48px;
  }
  a {
    margin-left: -24px;
  }
  .enunciadosreserva {
    padding-top: 129px;
    padding-left: 86px;
  }
  .seccion5_5 {
    padding-left: 57px;
  }
  .ig {
    padding-right: 500px;
  }
  .copy {
    margin-left: -345px;
  }
  .h1foot {
    text-align: center;
  }
  .section {
    margin-left: -27px;
  }
  .sucursales {
    margin-left: -15px;
  }
  .h4 {
    margin-left: 81px;
  }
  .maps {
    margin-left: 155px;
  }
  .Nusu {
    margin-right: 31px;
  }
  .card-img-top {
    width: 45%;
  }
  .card-body {
    font-size: small;
    margin: 39px;
    margin-left: 446px;
  }
  .card {
    width: 75%;
    align-items: flex-end;
  }
  .card-title {
    width: 71vw;
  }
  .dash-line {
    margin-top: 383px;
  }
  .franquicias1 {
    margin-left: 70px;
  }
  .misionvision {
    margin-right: 14px;
  }
  .franquicias2 {
    margin-right: 77px;
  }
  .gastronomia {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
  }
  .dash-line-1 {
    margin-top: 54px;
  }
  .horarios {
    margin-left: 106px;
  }
  .btn {
    margin-left: 325px;
  }
}
@media (min-width: 340px) and (max-width: 600px) {
  .gridcontainer {
    grid-template-areas: "he" "main" "footer";
    width: 100vw;
  }
  .container {
    margin: 50px;
  }
  .headerenc {
    width: 100%;
  }
  .encabezado {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 167px;
  }
  .bannermain {
    width: 100vw;
  }
  .promo {
    margin-left: 52px;
  }
  .h2-boot {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .h3-boot-img {
    flex-direction: column;
    margin-left: 285px;
  }
  .footerrow {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 303px;
    margin: 38px;
  }
  .items {
    padding-left: 286px;
  }
  .titulo {
    padding: 5px;
  }
  .formulario1 {
    width: 267px;
    padding: 282px;
    padding-top: 6px;
  }
  .footernew {
    margin-left: 48px;
  }
  .imgsuscribe1 {
    margin-left: -175px;
  }
  .imgsuscribe2 {
    margin-left: -205px;
  }
  .h2 {
    flex-direction: column;
    margin-left: -68px;
  }
  .h3 {
    flex-direction: column;
    margin-left: -68px;
  }
  .nobuimg {
    width: min-content;
  }
  .hhh {
    margin-bottom: -686px;
  }
  .us_team_3 {
    margin-top: 50px;
  }
  .img3 {
    margin-left: 98px;
  }
  .text-franq {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .footerdiv {
    align-items: center;
  }
  .seccion2 {
    margin-right: 50px;
  }
  .inputmsj {
    margin-left: -215px;
  }
  .submit1 {
    margin-left: 50px;
  }
  .seccion3 {
    flex-wrap: wrap;
    width: 100%;
  }
  .nombre {
    padding-left: 22rem;
  }
  .texto-nobu, .mainindex .seccion5 .seccion5_5 .texto-nobu-1 {
    padding-left: 22rem;
  }
  .video {
    margin-right: -250px;
  }
  .submit3 {
    flex-wrap: wrap;
  }
  .seccion5 {
    flex-wrap: wrap;
    margin-right: 102px;
  }
  .en {
    padding-left: 161px;
  }
  .texto-nobu-1 {
    margin-left: -232px;
    margin-top: -78px;
  }
  .imgsushi1 {
    width: 597px;
    margin-left: 380px;
  }
  .seccion4 {
    flex-wrap: wrap;
  }
  .enunciadosreserva {
    padding-top: 74px;
    padding-left: 344px;
  }
  .seccion4-a {
    margin-top: -87px;
    margin-left: 48px;
  }
  .submit3 {
    margin-left: 5px;
  }
  a {
    padding-left: 6px;
  }
  .seccion5_5 {
    padding-left: 57px;
  }
  .ig {
    padding-right: 500px;
  }
  .copy {
    margin-left: -133px;
  }
  .h1foot {
    text-align: center;
  }
  .section {
    margin-left: 68px;
  }
  .maps {
    margin-left: 155px;
  }
  .Nusu {
    margin-right: 31px;
  }
  .card-img-top {
    width: 45%;
  }
  .card-body {
    font-size: small;
    margin: 39px;
    margin-left: 446px;
  }
  .dash-line {
    margin-top: 383px;
  }
  .franquicias1 {
    margin-left: 70px;
  }
  .misionvision {
    margin-right: 14px;
  }
  .franquicias2 {
    margin-right: 77px;
  }
  .gastronomia {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
  }
  .horarios {
    margin-left: 106px;
  }
  .card-title {
    width: 71vw;
  }
  .dashline {
    margin-top: 166px;
  }
  .col {
    align-items: center;
  }
  .enunciados-menu {
    padding-left: 467px;
  }
  .card {
    width: 75%;
    align-items: flex-end;
  }
  .button {
    margin-left: -69px;
  }
  .titulo_1 {
    font-size: 1rem;
    margin-left: 92px;
  }
  .list-franq {
    font-size: 1.2rem;
    margin-left: 432px;
    padding: 8px;
    width: 358px;
  }
  .text-franq-1 {
    margin-left: 416px;
    padding: 6px;
    width: 258px;
  }
  strong {
    margin-left: 50px;
  }
}
/* Variables Universales */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: larger;
  font-family: "Raleway";
  color: aliceblue;
}

.gridcontainer {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "he" "main" "footer";
}

/*# sourceMappingURL=style.css.map */
