/* Variables globales */
header {
  grid-area: headerr;
}

.navbar {
  display: none;
}

.logo {
  height: auto;
  border-radius: 30px;
}

.h2 {
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

ul {
  padding: 40px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  text-decoration: underline;
  color: rgb(167, 74, 74);
}

.lineafoo {
  height: 1px;
  size: 1.25rem;
  color: aliceblue;
  margin-top: -4px;
}

.md {
  color: rgb(193, 246, 177);
  text-decoration: none;
  font-size: 1.2em;
  font-style: normal;
}

/*main*/
/* index */
.section-main {
  flex-direction: column;
}
.section-main .bannermain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images/Banner\ 2.jpg);
  width: 100%;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.section-main .bannermain .promo {
  text-align: center;
  font-family: "raleway";
  color: #e45eaf;
  font-size: 2rem;
  text-shadow: 1px 2px rgb(8, 8, 8);
}
.section-main .seccion3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px;
  margin-left: 42px;
}
.section-main .seccion3 .video {
  padding-top: 60px;
}
.section-main .seccion3 .seccion3_1 {
  margin-top: 17px;
}
.section-main .seccion3 .nombre {
  text-decoration: underline;
  color: aliceblue;
  margin: 28px;
  padding-top: 32px;
}
.section-main .seccion3 .texto-nobu, .section-main .seccion3 .seccion5 .seccion5_5 .texto-nobu-1, .section-main .seccion5 .seccion5_5 .seccion3 .texto-nobu-1 {
  margin: 27px;
  margin-top: 24px;
  color: aliceblue;
}
.section-main .seccion4 {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
  margin-bottom: 68px;
}
.section-main .seccion4 .enunciadosreserva {
  font-size: 2.6rem;
  color: aliceblue;
  margin-top: 96px;
}
.section-main .seccion4 .submit3 {
  border-radius: 11px;
  width: 289px;
  height: 75px;
  background-color: rgb(19, 111, 127);
  border-color: rgb(34, 158, 189);
  font-size: 25px;
  margin-left: 74px;
  margin-top: 87px;
}
.section-main .seccion5 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.section-main .seccion5 .imgsushi1 {
  width: 750px;
}
.section-main .seccion5 .seccion5_5 {
  width: 75%;
  margin: 44px;
  margin-top: 108px;
}
.section-main .seccion5 .seccion5_5 .en {
  text-decoration: underline;
  color: aliceblue;
}
.section-main .seccion5 .seccion5_5 .texto-nobu-1 {
  color: aliceblue;
}

/*Menu Delivery*/
.enunciados-menu {
  color: aliceblue;
  font-size: 2.3rem;
  text-decoration: underline;
}

.col {
  align-items: center;
}
.col .card-body {
  background-color: black;
}
.col .card-body .card-title {
  font-size: 2.3rem;
  color: aliceblue;
}
.col .card-body .card-text {
  color: aliceblue;
}

/* pedidos */
.pedidos {
  background-image: url(../images/fondo_pedidos-transformed.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pedidos .enunciadosreserva1 {
  font-size: 3rem;
  color: aliceblue;
  margin-right: 708px;
  font-family: "Raleway";
}
.pedidos .submit1 {
  text-align: center;
  border-radius: 11px;
  width: 268px;
  height: 61px;
  font-size: 1.2rem;
  color: blanchedalmond;
  background-color: rgb(31, 172, 55);
  border-color: rgb(31, 172, 55);
}
.pedidos .submit2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  border-radius: 11px;
  width: 268px;
  height: 61px;
  font-size: 1.2rem;
  color: blanchedalmond;
  background-color: rgb(91, 8, 8);
  border-color: rgb(104, 66, 66);
  margin-top: 24px;
}

/* franquicias */
.franquicias {
  flex-direction: column;
}
.franquicias .quote {
  width: 69rem;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.franquicias .quote .uvps {
  color: aliceblue;
  font-size: 1.5rem;
  text-align: center;
}
.franquicias .nc {
  text-align: center;
  color: aliceblue;
  font-size: 3rem;
}
.franquicias .cuadro_2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.franquicias .text-franq {
  color: aliceblue;
  font-size: 1.3rem;
  margin-left: 16px;
  margin-top: 59px;
  padding-right: 22px;
}
.franquicias .franquicias1 {
  width: 100%;
  margin-right: 20px;
}
.franquicias .dash-line {
  width: 100%;
  margin: 50px 0;
  border-top: 1px dashed aliceblue;
}
.franquicias .misionvision {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 0 0 30px;
}
.franquicias .misionvision #vision {
  margin: 0 30px;
  color: aliceblue;
}
.franquicias .misionvision #mision {
  max-width: 35%;
  margin: 0 30px;
  color: aliceblue;
}
.franquicias .misionvision .textofranq {
  font-size: 40px;
}
.franquicias .franquicias2 {
  margin-left: 73px;
}
.franquicias .h5h5 {
  font-size: 20px;
  color: aliceblue;
  padding: 34px;
  text-align: center;
  border-top: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
}
.franquicias .textofranq1 {
  font-size: 40px;
  color: aliceblue;
}
.franquicias .us_team {
  color: aliceblue;
}
.franquicias .us_team .strong {
  margin: 29px 82px;
  padding: 2px 4px;
}
.franquicias .gastronomia {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: aliceblue;
}
.franquicias .gastronomia .img3 {
  width: 600px;
  margin-left: 61px;
}
.franquicias .gastronomia .us_team_3 {
  margin-left: 39px;
  font-size: 30px;
}
.franquicias .gastronomia .textofranq3 {
  margin-left: 39px;
  padding-right: 55px;
  font-size: 1.5rem;
}
.franquicias .Nusu {
  text-align: center;
  color: aliceblue;
  font-size: 3rem;
}
.franquicias .maps {
  display: flex;
}
.franquicias .maps .sucursales {
  padding: 34px;
}
.franquicias .maps .sucursales .lugares {
  color: aliceblue;
  text-align: center;
}
.franquicias .horarios {
  font-size: 3rem;
  color: aliceblue;
}

/*Sushigift - Bootstrap*/
.p-4 {
  margin: auto;
  font-size: 2rem;
  color: #c82953;
  text-align: center;
}

.p-2 {
  font-size: 3.5rem;
  text-align: center;
  color: #c82953;
  font-weight: 700;
}

.input-group {
  font-size: 1rem;
  margin-top: 57px;
}

.p-4-1 {
  color: aliceblue;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 2rem;
  text-align: center;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.btn {
  margin-top: 50px;
}

/* Contacto */
.contact {
  flex-direction: column;
}
.contact .titulo {
  font-size: 3.2rem;
  color: #c8d1d8;
}
.contact .contact_funcion {
  display: flex;
}
.contact .contact_funcion .imgnobu {
  width: 100%;
  margin-top: 4rem;
  object-fit: cover;
}
.contact .contact_funcion .formulario1 {
  margin: 40px;
}
.contact .contact_funcion .formulario1 .botones-contact {
  margin-bottom: 2rem;
}
.contact .contact_funcion .formulario1 .botones-contact .nombre-contact {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: aliceblue;
  display: inline-block;
}
.contact .contact_funcion .formulario1 .botones-contact .nombreinput {
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
.contact .contact_funcion .formulario1 .botones-contact .consultaselec {
  width: 100%;
  font-size: 2.5rem;
  border-radius: 10px;
}
.contact .contact_funcion .formulario1 .botones-contact .cajacoment {
  width: 100%;
  font-size: 1.3rem;
  line-height: 2;
  border-radius: 0.375rem;
}
.contact .contact_funcion .formulario1 .termycond {
  color: aliceblue;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.contact .contact_funcion .formulario1 .button {
  text-align: center;
  color: rgba(44, 81, 205, 0.967);
  padding-top: 56px;
}
.contact .contact_funcion .formulario1 .button .button1 {
  font-family: "Raleway";
  font-size: 1.5rem;
  padding: 0 5rem;
  border-radius: 10px;
  color: rgba(236, 236, 239, 0.967);
  background-color: rgb(46, 36, 202);
}

.dash-line {
  width: 100%;
  margin: 50px 0;
  border-top: 1px dashed aliceblue;
}

.titulo_1 {
  font-size: 3.2rem;
  color: #c8d1d8;
}

.list-franq {
  font-size: 1.3rem;
  color: aliceblue;
  padding: 21px;
}

.text-franq-1 {
  font-size: 1.3rem;
  color: aliceblue;
  margin-left: 37px;
}

/*footer*/
.footer {
  grid-area: footer;
}

a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

.footerrow {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgb(26, 16, 18);
}
.footerrow .lista1 {
  font-size: 17px;
  margin-right: -40px;
}
.footerrow .items {
  font-size: 1rem;
  margin: 50px;
}
.footerrow .items .imgsuscribe1 {
  height: 25px;
  align-items: flex-end;
}
.footerrow .items .imgsuscribe2 {
  height: 26px;
  padding-left: 15px;
}
.footerrow .items .footernew {
  margin-top: -35px;
  margin-left: 40px;
}
.footerrow .items .footernew .imgsuscribe {
  height: 24px;
}

.copy {
  color: aliceblue;
  font-size: 1rem;
  background-color: rgb(26, 16, 18);
}

@media (max-width: 758px) {
  .gridcontainer {
    grid-template-areas: "headerr" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .navbar {
    display: block;
  }
  .nav_of {
    display: none;
  }
  header {
    flex-wrap: wrap;
  }
  .seccion3 {
    flex-wrap: wrap;
  }
  .video {
    width: 100%;
  }
  .nombre {
    padding-left: 4px;
    font-size: 4rem;
  }
  .texto-nobu, .section-main .seccion5 .seccion5_5 .texto-nobu-1 {
    padding: 3px;
    font-size: 2rem;
  }
  .seccion4 {
    justify-content: inherit;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
  .submit3 {
    margin: 68px;
  }
  .seccion5 {
    flex-wrap: wrap;
  }
  .imgsushi1 {
    width: 50px;
  }
  .en {
    font-size: 4rem;
    margin-left: -39px;
  }
  .texto-nobu-1 {
    margin-left: -41px;
    font-size: 2rem;
  }
  .seccion2 {
    margin-top: 48px;
  }
  .contact_funcion {
    flex-wrap: wrap;
  }
  .imgnobu {
    width: 100%;
    object-fit: cover;
  }
  .footerrow {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .footernew {
    width: -1px;
  }
  .items {
    padding-top: 5px;
  }
  .lista1 {
    font-size: 2rem;
  }
  .listado_footer {
    font-size: 2rem;
    margin: 16px;
  }
}
@media (max-width: 500px) {
  .gridcontainer {
    grid-template-areas: "headerr" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .nav_of {
    display: none;
  }
  .navbar {
    display: block;
  }
  header {
    flex-wrap: wrap;
  }
  .seccion3 {
    flex-wrap: wrap;
  }
  .video {
    width: 100%;
  }
  .nombre {
    padding-left: 4px;
    font-size: 4rem;
  }
  .texto-nobu, .section-main .seccion5 .seccion5_5 .texto-nobu-1 {
    padding: 3px;
    font-size: 2rem;
  }
  .seccion4 {
    justify-content: inherit;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
  .submit3 {
    margin: 68px;
  }
  .seccion5 {
    flex-wrap: wrap;
  }
  .imgsushi1 {
    width: 50px;
  }
  .en {
    font-size: 4rem;
    margin-left: -39px;
  }
  .texto-nobu-1 {
    margin-left: -41px;
    font-size: 2rem;
  }
  .contact_funcion {
    flex-wrap: wrap;
  }
  .imgnobu {
    width: 100%;
    object-fit: cover;
  }
  .footerrow {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .footernew {
    width: -1px;
  }
  .items {
    padding-top: 5px;
  }
  .lista1 {
    font-size: 2rem;
  }
  .listado_footer {
    font-size: 2rem;
    margin: 16px;
  }
  .copy {
    font-size: 0.7rem;
  }
}
@media (max-width: 290px) {
  .gridcontainer {
    grid-template-areas: "hederr" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .nav_of {
    display: none;
  }
  .navbar {
    justify-content: center;
  }
  header {
    flex-wrap: wrap;
  }
  .seccion3 {
    flex-wrap: wrap;
  }
  .video {
    width: auto;
  }
  .nombre {
    padding-left: 4px;
    font-size: 4rem;
  }
  .texto-nobu, .section-main .seccion5 .seccion5_5 .texto-nobu-1 {
    padding: 3px;
    font-size: 2rem;
  }
  .seccion4 {
    justify-content: inherit;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
  .submit3 {
    margin: 68px;
  }
  .seccion5 {
    flex-wrap: wrap;
  }
  .imgsushi1 {
    width: 50px;
  }
  .en {
    font-size: 4rem;
    margin-left: -39px;
  }
  .seccion2 {
    margin-top: 168px;
    margin-left: 32px;
  }
  .contact_funcion {
    flex-wrap: wrap;
  }
  .imgnobu {
    width: 100%;
    object-fit: cover;
  }
  .texto-nobu-1 {
    margin-left: -41px;
    font-size: 2rem;
  }
  .footerrow {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .footernew {
    width: -1px;
  }
  .items {
    padding-top: 5px;
  }
  .lista1 {
    font-size: 2rem;
  }
  .listado_footer {
    font-size: 2rem;
    margin: 16px;
  }
  .copy {
    font-size: 0.7rem;
  }
}
/* Variables Universales */
main {
  display: grid;
  font-family: "raleway";
  grid-template-areas: "headerr" "contenido" "footer";
}

main > * {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
