/*footer*/

.footer{
    grid-area: footer;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.footerrow{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgb(26, 16, 18);

    .lista1{
    font-size: 17px;
    margin-right: -40px;
    }

    .items {
        font-size: 1rem;
        margin: 50px;

       .imgsuscribe1{
        height: 25px;
        align-items: flex-end;
        }
    
       .imgsuscribe2{
        height: 26px;
        padding-left: 15px;
        }

       .footernew{
        margin-top: -35px;
        margin-left: 40px;
        

        .imgsuscribe{
        height: 24px;
        }
        }
    }
}


.copy{
    color:aliceblue ;
    font-size: 1rem;
    background-color: rgb(26, 16, 18);
}

