/*footer*/

.footergrid{
    grid-area: footer;
    width: 100%;
    background-color: rgb(26, 16, 18);
}

a {
    text-decoration: none;
    color: aliceblue;

}

.footerrow{
    display: flex;

    .lista1{
    font-size: 17px;
    margin-right: -40px;
    }

    .items {
    padding-right: 75px;
    font-size: 1.25rem;
    margin: 56px;

       .imgsuscribe1{
        height: 25px;
        align-items: flex-end;
        }
    
       .imgsuscribe2{
        height: 26px;
        padding-left: 15px;
        }

       .footernew{
        padding-top: 10px;
        

        .imgsuscribe{
        height: 24px;
        }
        }
    }
}

.copy{
    color:aliceblue ;
    font-size: 1rem;
    margin-top: -10px;
    margin-bottom: 9px;
    width: 100%;
    padding-left: 550px;

       .h1foot{
        font-size: 1rem;
        margin-left: -12px;
        margin-top: 19px;
        margin-bottom: 0;
        }
    
    }

hr {
    height: 1px;
    size: 1.25rem;
    color: aliceblue;
    margin-top: -4px;
}

