/*main*/   

@mixin flex ($direction) {
    display: flex;
    justify-content: center;
    flex-direction: $direction;
}

/* index */
.section-main{
        flex-direction: column;

        .bannermain{
            @include flex (column);
            background-image: url(../images/Banner\ 2.jpg);
            width: 100%;
            min-height: 80vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;

            .promo{
            text-align: center;
            font-family: $font-family;
            color: #e45eaf;
            font-size: 2rem;
            text-shadow: 1px 2px rgb(8, 8, 8);
            }
        }  
    

       .seccion3{
        @include flex (row);
        margin-top: 80px;
        margin-left: 42px;

        .video{
        padding-top: 60px;
        }

        .seccion3_1{
            margin-top: 17px;
        }

        .nombre{
        text-decoration: underline; 
        color: aliceblue;
        margin: 28px;
        padding-top: 32px;
        }

        .texto-nobu{
        margin: 27px;
        margin-top: 24px;
        color: aliceblue;
        }
       }

       .seccion4{
        display: flex;
        flex-direction: row;
        margin-top: 68px;
        margin-bottom: 68px;

        .enunciadosreserva{
        font-size: 2.6rem;
        color: aliceblue;
        margin-top: 96px;
        }

        .submit3{
        border-radius: 11px;
        width: 289px;
        height: 75px;
        background-color: rgb(19, 111, 127);
        border-color: rgb(34, 158, 189);
        font-size: 25px;
        margin-left: 74px;
        margin-top: 87px;
        }
       }
   
       .seccion5{
        @include flex(row-reverse);

        .imgsushi1{
            width: 750px;
        }
        
        .seccion5_5{
        width: 75%;
        margin: 44px;
        margin-top: 108px;

        .en{
        text-decoration: underline; 
        color: aliceblue;
        }
        
        .texto-nobu-1{
        @extend .texto-nobu;
        color: aliceblue;
        }
        }
      }
}

/*Menu Delivery*/

.enunciados-menu{
    color: aliceblue;
    font-size: 2.3rem;
    text-decoration: underline;
}

.col{
    align-items: center;

    .card-body{
        background-color: black;

        .card-title{
            font-size: 2.3rem;
            color: aliceblue;
        }

        .card-text{
            color: aliceblue;
        }
    }
}


/* pedidos */

.pedidos{
    background-image: url(../images/fondo_pedidos-transformed.jpeg);
    width: 100%;
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
    .seccion2{
        padding: 86px;

        .enunciadosreserva1{
            font-size: 3rem;
            color: aliceblue;
            margin-right: 708px;
            font-family: 'Raleway';
        }

        .submit1 {
            text-align: center;
            border-radius: 11px;
            width: 268px;
            height: 61px;
            font-size: 1.2rem;
            color: blanchedalmond;
            background-color: rgb(31, 172, 55);
            border-color: rgb(31 172 55);
        }
        
        .submit2{
            @include flex(row);
            text-align: center;
            border-radius: 11px;
            width: 268px;
            height: 61px;
            font-size: 1.2rem;
            color: blanchedalmond;
            background-color: rgb(91, 8, 8);
            border-color: rgb(104, 66, 66);
            margin-top: 24px;
        }
    }
}  

/* franquicias */

.franquicias{
    display: flex;
    flex-direction: column;

    .quote{
        width: 69rem;
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
    
        .uvps{
            color: aliceblue;
            font-size: 1.5rem;
            text-align: center;
        }
    }
    
    .nc {
        text-align: center;
        color: aliceblue;
        font-size: 3rem;
    }
    
    .cuadro_2{
        @include flex(row)
    }
    
    .text-franq{
        color: aliceblue;
        font-size: 1.3rem;
        margin-left: 16px;
        margin-top: 59px;
        padding-right: 22px;
    }
    
    .franquicias1{
        margin-right: 20px;
    }
    
    .dash-line{
        width: 100%;
        margin: 50px 0;
        border-top: 1px dashed aliceblue;
    }
    
    .misionvision{
        @include flex(row);
        text-align: center;
        padding: 0 0 30px;
    
        #vision{
            margin: 0 30px;
            color: aliceblue;
        }
        
        #mision{
            max-width: 35%;
            margin: 0 30px;
            color: aliceblue;
        }
    
        .textofranq{
            font-size: 40px;
        }
    }
    
    .franquicias2{
        margin-left: 73px;
    }
    
    .h5h5{
        font-size: 20px;
        color: aliceblue;
        padding: 34px;
        text-align: center;
        border-top: 1px solid aliceblue;
        border-bottom: 1px solid aliceblue;
    }
    
    .textofranq1{
        font-size: 40px;
        color: aliceblue;
    }
    
    .us_team{
       color: aliceblue;
        
        .strong{
            margin: 29px 82px;
            padding: 2px 4px; 
        }
    }

   .gastronomia{
        @include flex(row);
        color: aliceblue;
    
        .img3{
            width: 600px;
            margin-left: 61px;
        }
        
        .us_team_3{
            margin-left: 39px;
            font-size: 30px;
        }
        
        .textofranq3{
            margin-left: 39px;
            padding-right: 55px;
            font-size: 1.5rem;
        }
    }
    
.Nusu{
    text-align: center;
    color: aliceblue;
    font-size: 3rem;
}
 
.maps{
    display: flex;
    
    .sucursales{
        padding: 34px;
    
             .lugares{
                    color: aliceblue;
                    text-align: center;
                }
    }
}    
   
.horarios{
    font-size: 3rem;
    color: aliceblue;
 }
}

/*Sushigift - Bootstrap*/

.p-4{
    margin: auto;
    font-size: 2rem;
    color: #c82953;
    text-align: center;
}

.p-2{
    font-size: 3.5rem; 
    text-align: center;
    color: #c82953;
    font-weight: 700;
}

.input-group{
    font-size: 1rem;
    margin-top: 57px ;
}

.p-4-1{
    color: aliceblue;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 2rem;
    text-align: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.btn{
    margin-top: 50px;
}

/* Contacto */

.contact{
    flex-direction: column;

    .titulo{
        font-size: 3.2rem;
        color: #c8d1d8;
    }

    .contact_funcion {
        display: flex;

        .formulario1{
            margin: 40px;
     
                 .botones-contact{
                     margin-bottom: 2rem;
     
                     .nombre-contact{
                         margin-bottom: 0.5rem;
                         font-size: 2rem;
                         color: aliceblue;
                         display: inline-block;
                     } 
     
                     .nombreinput{
                         width: 100%;
                         padding: 10px;
                         font-size: 1.3rem;
                         border: 1px solid #ced4da;
                         border-radius: 0.375rem;
                         }
     
                     .consultaselec{
                         width: 100%;
                         font-size: 2.5rem;
                         border-radius: 10px;
                     }
     
                     .cajacoment{
                         width: 100%;
                         font-size: 1.3rem;
                         line-height: 2;
                         border-radius: 0.375rem;
                     }
                 }
     
                 .termycond{
                     color: aliceblue;
                     border: 1px solid rgba(0, 0, 0, 0.25);
                 }
     
                 .button{
                     text-align: center;
                     color: rgba(44, 81, 205, 0.967);
                     padding-top: 56px;
                 
                     .button1{
                         font-family: 'Raleway';
                         font-size: 1.5rem;
                         padding: 0 5rem;
                         border-radius: 10px;
                         color: rgba(236, 236, 239, 0.967) ;
                         background-color: rgb(46, 36, 202, 1);
                     }
                 }
         }
    }


}

.dash-line{
    width: 100%;
    margin: 50px 0;
    border-top: 1px dashed aliceblue;
}

.titulo_1{
    font-size: 3.2rem;
    color: #c8d1d8;
}

.list-franq{
    font-size: 1.3rem;
    color: aliceblue;
    padding: 21px;
}

.text-franq-1{
    font-size: 1.3rem;
    color: aliceblue;
    margin-left: 37px;
}