@media (max-width: 992px){
     .gridcontainer{
        grid-template-areas: 
        "he"
        "main"
        "footer";
        justify-content: center;
        width: 100vw;
     }

    .encabezado{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .h2-boot{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .bannermain{
       min-height: 60vh;
       padding-bottom: 3rem;
    }

    .section-main{
        display: flex;
        max-width: 100%;
    }

    iframe{
        margin-left: 85px;
        width: 100%;
    }

    .footerrow{
        flex-direction:column;
        flex-wrap: wrap;
    }

    .h2{
        flex-direction: column;
        margin-left: -68px;
    }

    .h3{
        flex-direction: column;
        margin-left: -68px;
    }

   .hhh{
    flex-wrap: wrap;
    }

    .promo{
        padding: 328px;
    }

   .text-franq{
    flex-wrap: wrap;
    margin-bottom: 50px;
   }

   .footerdiv{
    align-items: center;
   }

   .seccion2{
    margin-right: 50px;
   }

   .inputmsj{
    margin-left: -215px;
   }

   .submit1{
    margin-left: 50px;
   }

   .seccion3{
    flex-wrap: wrap;
    margin-bottom: -179px;
    
   }

   .nombre{
    padding-left: 94px;
   }

   .video{
    margin: 2px;
    padding-left: 92px;
   }

   .submit3{
    flex-wrap: wrap;
   }

   .seccion5{
    flex-wrap: wrap;
    margin-right: 108px;
   }

   .imgsushi1{
        max-width: 100%;
        width: 690px;
        padding-right: 73px;
     }

   .seccion4{
    flex-wrap: wrap;
    margin-left: 24px;
    margin-top: 77px;
   }

   .seccion4-a{
    margin-top: -78px;
   }

   a{
    padding-left: 79px;
   }

   .texto-nobu{
    padding: 96px;
   }

   .cuadro_2{
    margin-top: -47px;
    margin-bottom: -332px;
    flex-wrap: wrap;
   }

   .enunciadosreserva{
    margin-right: 80px;
   }

   .seccion5_5{
    padding-left: 57px;
   }

   .items{
    margin: 47px;
   }

   .copy{
    margin-left: -341px;
   }

   .h1foot{
    text-align: center;
   }

   .horarios{
    margin-left: 106px;
   }

   .uvps{
    padding-top: 60px;
   }

   .dash-line{
    margin-top: 396px;
}

.franquicias1{
    margin-left: 40px;
   }

   .misionvision{
       margin-right: 14px;
   }

   .franquicias2{
     margin-left: 80px;
   }

   .img3{
    margin-left: 117px;
}

.gastronomia {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
}

.maps{
    margin-left: 212px;
   }

   .Nusu{
    margin-right: 31px;
   }

   .dash-line-1{
    margin-top: 54px;
}

.card-body{
    height: 170px;
}

.dash-line{
    margin-top: 385px;
}

hr{
    width: 895px;
   }

   .card-title{
    font-size: small;
   }

}

@media (min-width: 600px) and (max-width: 780px){
    .gridcontainer{
        grid-template-areas: 
        "he"
        "main"
        "footer";
        justify-content: center;
        width: 100vw;
     }
     
    .encabezado{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .h2-boot{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .bannermain{
        min-height: 60vh;
       padding-bottom: 3rem;
    }

    .footerrow{
        flex-direction:column;
        flex-wrap: wrap;
    }

    .h2{
        flex-direction: column;
        margin-left: -68px;
    }

    .h3{
        flex-direction: column;
        margin-left: -68px;
    }

    .nobuimg{
        width: min-content;
    }

   .hhh{
    flex-wrap: wrap;
    }

    .us_team_3{
        margin-top: 50px;
    }

    .img3{
        margin-left: 98px;
    }

    .promo{
        padding: 328px;
    }

   .text-franq{
    flex-wrap: wrap;
    margin-bottom: 50px;
   }

   .footerdiv{
    align-items: center;
   }

   .seccion2{
    margin-right: 50px;
   }

   .inputmsj{
    margin-left: -215px;
   }

   .submit1{
    margin-left: 50px;
   }

   .seccion3{
    flex-wrap: wrap;
    margin-bottom: -317px;
   }

   .nombre{
    padding-left: 78px;
   }

   .video{
    margin: 49px;
    padding-left: 82px;
   }

   .submit3{
    flex-wrap: wrap;
   }

   .seccion5{
    flex-wrap: wrap;
    margin-right: 102px;
   }

   .imgsushi1{
    max-width: 100%;
 }
   .seccion4{
    flex-wrap: wrap;
    margin-left: -64px;
    margin-top: 199px;
   }

   .seccion4-a{
    margin-top: -87px;
    margin-left: 48px;
   }

   a{
    padding-left: 79px;
   }

   .texto-nobu{
    padding: 72px;
   }

   .enunciadosreserva{
    padding-top: 129px;
    padding-left: 86px;
   }

   .seccion5_5{
    padding-left: 57px;
   }

   .ig{
    padding-right: 500px;
   }

   .copy{
    margin-left: -345px;
   }

   .h1foot{
    text-align: center;
   }

   .section{
    margin-left: -27px;
   } 

   .sucursales{
    margin-left: -15px;
   }

   .h4{
    margin-left: 81px;
   }

   .maps{
    margin-left: 155px;
   }

   .Nusu{
    margin-right: 31px;
   }

   .card-img-top{
        width: 45%;
   }

   .card-body{
        font-size: small;
   }

   .dash-line{
        margin-top: 383px;
   }

   .franquicias1{
    margin-left: 70px;
   }

   .misionvision{
       margin-right: 14px;
   }

   .franquicias2{
     margin-right: 77px;
   }

   .gastronomia {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
}

   .dash-line-1{
    margin-top: 54px;
}

   .horarios{
    margin-left: 106px;
   }

   .btn{
     margin-left: 325px;
   }

   hr{
    width: 516px;
   }

}

@media (min-width: 340px) and (max-width: 600px){
    .gridcontainer{
        grid-template-areas: 
        "he"
        "main"
        "footer";
        justify-content: center;
        width: 100vw;
     }
    .headerenc{
        width: 100%;
    }
    
    .bannermain{
        width: 100vw;

        .promo{
            margin-left: -207px;
        }
    }

    .h2-boot{
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .h3-boot-img{
        flex-direction: column;
        margin-left: 285px;
    }
    header main footer{
        display: inline-block;
        width: 100%;
     }
     
    .footerrow{
        flex-direction:column;
        flex-wrap: wrap;
        margin-left: 46px;
    }

    .h2{
        flex-direction: column;
        margin-left: -68px;
    }

    .h3{
        flex-direction: column;
        margin-left: -68px;
    }

    .nobuimg{
        width: min-content;
    }

   .hhh{
    flex-wrap: wrap;
    }

    .us_team_3{
        margin-top: 50px;
    }

    .img3{
        margin-left: 98px;
    }

    .promo{
        padding: 328px;
    }

   .text-franq{
    flex-wrap: wrap;
    margin-bottom: 50px;
   }

   .footerdiv{
    align-items: center;
   }

   .seccion2{
    margin-right: 50px;
   }

   .inputmsj{
    margin-left: -215px;
   }

   .submit1{
    margin-left: 50px;
   }

   .seccion3{
    flex-wrap: wrap;
    margin-left: -72px;
    width: 100%;
   }

   .nombre{
    padding-left: 78px;
   }

   .video{
    padding-left: 13px;
   }

   .submit3{
    flex-wrap: wrap;
   }

   .seccion5{
    flex-wrap: wrap;
    margin-right: 102px;
   }

   .texto-nobu-1{
    margin-left: -232px;
    margin-top: -78px;
    }

   .imgsushi1{
    width: 433px;
    margin-left: -79px;
   }

   .seccion4{
    flex-wrap: wrap;
    margin-left: -64px;
   }

   .enunciadosreserva{
    padding-top: 129px;
    padding-left: 86px;
   }

   .seccion4-a{
    margin-top: -87px;
    margin-left: 48px;
   }

   .submit3{
    margin-left: 5px;
    }

   a{
    padding-left: 79px;
   }

   .texto-nobu{
    padding-right: 1px;
    }

   .seccion5_5{
    padding-left: 57px;
   }

   .ig{
    padding-right: 500px;
   }

   .copy{
    margin-left: -345px;
   }

   .h1foot{
    text-align: center;
   }

   .section{
    margin-left: 68px;
   } 

   .maps{
    margin-left: 155px;
   }

   .Nusu{
    margin-right: 31px;
   }

   .card-img-top{
        width: 45%;
   }

   .card-body{
        font-size: small;
   }

   .dash-line{
        margin-top: 383px;
   }

   .franquicias1{
    margin-left: 70px;
   }

   .misionvision{
       margin-right: 14px;
   }

   .franquicias2{
     margin-right: 77px;
   }

   .gastronomia {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
}

.horarios{
    margin-left: 106px;
   }

   .card-body{
    text-align: center;
}

.card-title{
    width: 71vw;
}

.dashline{
    margin-top: 166px;
}

.col{
    align-items: center;
}

.card{
    width: 100vw;
    align-items: center;
}
 .footergrid{
    margin-top: 50px;
 }
}