@media (max-width: 758px){
     .gridcontainer{
        grid-template-areas: 
        "headerr"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .navbar{
        display: block;
    }

     .nav_of{
        display: none;
     }

     header{
        flex-wrap: wrap;
     }

     .bannermain{
        width: 100%;
        object-fit: cover;
     }

     .seccion3{
        flex-wrap: wrap;
     }

     .video{
        width: 100%;
     }

     .nombre{
        padding-left: 4px;
        font-size: 4rem;
     }

     .texto-nobu{
        padding: 3px;
        font-size: 2rem;
     }

     .seccion4{
        justify-content: inherit;
        flex-wrap: wrap;
        padding-bottom: 80px;
     }

     .submit3{
        margin: 68px;
     }

     .seccion5{
        flex-wrap: wrap;
     }

     .imgsushi1{
        width: 300px;
     }

     .en{
        font-size: 4rem;
        margin-left: -39px;
     }

     .texto-nobu-1{
        margin-left: -41px;
        font-size: 2rem;
     }

     .seccion2{
        margin-top: 48px;
     }

     .titulo{
        margin-top: 10.5rem;
        text-align: center;
     }

     .contact_funcion{
        flex-wrap: wrap;
     }

     .imgnobu{
        width: 100%;
        object-fit: cover;
     }

     .quote{
        margin-top: 9rem;
     }

     .cuadro_2{
        flex-wrap: wrap;
     }

     .misionvision{
        flex-wrap: wrap;
     }

     .gastronomia{
        flex-wrap: wrap;
     }

     .img3{
        width: 600px;
        margin-left: 61px;
    }

    .maps{
        flex-wrap: wrap;
    }

    .p-4{
        margin-top: 58px;
    }

     .footerrow{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
     }

     .footernew{
        width: -1px;
     }

     .items{
        padding-top: 5px;
     }

     .lista1{
        font-size: 2rem;
     }

     .listado_footer{
        font-size: 2rem;
        margin: 16px;
     }
}

@media (max-width: 500px){
    .gridcontainer{
        grid-template-areas: 
        "headerr"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
     }

     .nav_of{
        display: none;
     }

     .navbar{
        display: block;
     }

     header{
        flex-wrap: wrap;
     }

     .seccion3{
        flex-wrap: wrap;
     }

     .video{
        width: 100%;
     }

     .nombre{
        padding-left: 4px;
        font-size: 4rem;
     }

     .texto-nobu{
        padding: 3px;
        font-size: 2rem;
     }

     .seccion4{
        justify-content: inherit;
        flex-wrap: wrap;
        padding-bottom: 80px;
     }

     .submit3{
        margin: 68px;
     }

     .seccion5{
        flex-wrap: wrap;
     }

     .imgsushi1{
        width: 50px;
     }

     .en{
        font-size: 4rem;
        margin-left: -39px;
     }

     .texto-nobu-1{
        margin-left: -41px;
        font-size: 2rem;
     }

     .contact_funcion{
        flex-wrap: wrap;
     }

     .imgnobu{
        width: 100%;
        object-fit: cover;
     }

     .quote{
        margin-top: 9rem;
     }

      .footerrow{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
     }

     .footernew{
        width: -1px;
     }

     .items{
        padding-top: 5px;
     }

     .lista1{
        font-size: 2rem;
     }

     .listado_footer{
        font-size: 2rem;
        margin: 16px;
     }

     .copy{
        font-size: 0.7rem;
     }

}

@media (max-width: 290px){
    .gridcontainer{
        grid-template-areas: 
        "hederr"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
     }
     .nav_of{
        display: none;
     }

     .navbar{
        justify-content: center;
     }

     header{
        flex-wrap: wrap;
     }

     .seccion3{
        flex-wrap: wrap;
     }

     .video{
        width: 100%;
     }

     .nombre{
        padding-left: 4px;
        font-size: 4rem;
     }

     .texto-nobu{
        padding: 3px;
        font-size: 2rem;
     }

     .seccion4{
        justify-content: inherit;
        flex-wrap: wrap;
        padding-bottom: 80px;
     }

     .submit3{
        margin: 68px;
     }

     .seccion5{
        flex-wrap: wrap;
     }

     .imgsushi1{
        width: 50px;
     }

     .en{
        font-size: 4rem;
        margin-left: -39px;
     }

     .seccion2{
        margin-top: 168px;
        margin-left: 32px;
     }

     .contact_funcion{
        flex-wrap: wrap;
     }

     .imgnobu{
        width: 100%;
        object-fit: cover;
     }

     .texto-nobu-1{
        margin-left: -41px;
        font-size: 2rem;
     }

     .quote{
        margin-top: 9rem;
     }

     .footerrow{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
     }

     .footernew{
        width: -1px;
     }

     .items{
        padding-top: 5px;
     }

     .lista1{
        font-size: 2rem;
     }

     .listado_footer{
        font-size: 2rem;
        margin: 16px;
     }

     .copy{
        font-size: 0.7rem;
     }
}