header{
    grid-area: headerr;
}

.navbar{
    display: none;
}
  
.logo{
   height: auto;
   border-radius: 30px;
}  

.h2 {
    font-size: 1rem !important;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-wrap: wrap;
}
                
ul {
    padding: 40px;
}

a {
    text-decoration: none;
    color: aliceblue;

    &:hover{
    text-decoration: underline;
    color: rgb(167, 74, 74);
    }
}


.lineafoo{
    height: 1px;
    size: 1.25rem;
    color: aliceblue;
    margin-top: -4px;
}

.md {
    color: rgb(193, 246, 177); 
    text-decoration: none; 
    font-size: 1.2em; 
    font-style: normal;
}
    