header{
    grid-area: headerr;
}

.navbar{
    display: none;
}
  

.h2 {
    font-size: 1rem !important;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-wrap: wrap;

    .md {
        color: rgb(193, 246, 177); 
        text-decoration: none; 
        font-size: 1.2em; 
        font-style: normal;
    }

    .logo{
        height: auto;
        border-radius: 30px;
     }  
     
}
                
ul {
    padding: 40px;
}

a {
    text-decoration: none;
    color: aliceblue;

    &:hover{
    text-decoration: underline;
    color: rgb(167, 74, 74);
    }
}


    