/* Variables globales */
$background-color: black;
$font-family: 'raleway';

@import "../scss/navbar.scss";
@import "../scss/main.scss";
@import "../scss/footer.scss";
@import "../scss/media-queri.scss";

/* Variables Universales */

main {
    display: grid;
    font-family: 'raleway';
    height: 100vh;
    grid-template-areas:
      "headerr"
      "contenido"
      "footer";
  }

  main > * {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body{
    margin: 0;
  }
  
